In [33]:
import sys
sys.path.append('../')
import pandas as pd

import json
from mapper import Mapper

k2d_gt = '../../data/results/yelp_gt_result.v03.jsonl'
nalir_mapping = '../../data/results/yelp_nalir_outputs.v03.json'
k2d_nalir = '../../data/nalir_inputs/yelp_nalir_inputs.results.final.json'
k2d_gt_file = '../../data/gts/yelp_gt.v01.json'
k2d_new_file = '../../data/results/yelp_gt_result.v12.jsonl'
k2d_new_compare_file = '../../data/results/yelp_gt_result.v11.jsonl'
k2d_gt_data = []
nalir_data = []
k2d_nalir_data = []

k2d_yelp_gt = []
k2d_new_data = []
k2d_new_compare_data = []

123

In [34]:
with open(k2d_gt) as f:
    k2d_gt_data = [json.loads(x) for x in f]
    
with open(nalir_mapping) as f:
    nalir_data = json.load(f)
    
with open(k2d_nalir) as f:
    k2d_nalir_data = [json.loads(x) for x in f]    
    
with open(k2d_gt_file) as f:
    k2d_yelp_gt = json.load(f)
    
with open(k2d_new_file) as f:
    k2d_new_data = [json.loads(x) for x in f]

with open(k2d_new_compare_file) as f:
    k2d_new_compare_data = [json.loads(x) for x in f]

In [225]:
k2d_gt_data.sort(key=lambda x:x['query_id'])

In [226]:
k2d_nalir_data.sort(key=lambda x:x['query_id'])

In [5]:
nalir_query_ids = set([x['id'] for x in nalir_data if x['query_candidate_item'] == 0])

In [200]:
k2d_query_ids = set([x['query_id'] for x in k2d_gt_data if x['query_candidate_item'] == 0])

In [14]:
k2d_new_ids = set([x['query_id'] for x in k2d_new_data if x['query_candidate_item'] == 1])

In [15]:
k2d_new_ids

{13, 22, 26, 63, 71, 78, 79, 84, 92, 95, 108, 127}

In [5]:
k2d_new_ids

set()

In [237]:
k2d_yelp_gt[38]

{'query_id': 39,
 'query': 'List all businesses with rating 3.5',
 'segments': ['rating', '3.5', 'businesses'],
 'query_matches': [{'table': 'business',
   'schema_filter': [{'attribute': 'rating', 'keywords': ['rating']},
    {'attribute': 'name', 'keywords': ['businesses']}],
   'value_filter': [{'attribute': 'rating', 'keywords': ['3.5']}]}]}

In [35]:
x = sorted([(x['query_id'],x['query_candidate_item'], k2d_yelp_gt[i]['segments']) for i, x in enumerate(k2d_new_data)], key=lambda x: x[1])

In [36]:
y =  sorted([(x['query_id'],x['query_candidate_item'], k2d_yelp_gt[i]['segments']) for i, x in enumerate(k2d_new_compare_data)], key=lambda x: x[1])

In [22]:
x

[(4, 0, ['3.5', 'restaurants']),
 (5, 0, ['4.5', 'businesses']),
 (6, 0, ['3.5', 'restaurants']),
 (8, 0, ['cities', 'Taj Mahal', 'restaurant']),
 (15, 0, ['reviews', 'Niloofar', '2015']),
 (16, 0, ['5.0', 'Niloofar', 'businesses']),
 (17, 0, ['reviews', 'rating', 'Michelle']),
 (18, 0, ['checkins', 'business']),
 (20, 0, ['Cafe Zinho', 'friday', 'checkins']),
 (29, 0, ['tips', 'likes', 'Niloofar']),
 (30, 0, ['Cafe Zinho', 'tips', 'likes']),
 (31, 0, ['Cafe Zinho', 'tips', 'likes', 'Niloofar']),
 (32, 0, ['tips', '2014', 'Michelle']),
 (39, 0, ['rating', '3.5', 'businesses']),
 (42, 0, ['pet groomers', 'reviews', '100']),
 (55, 0, ['Mesa Grill', 'users', 'restaurant']),
 (62, 0, ['Patrick', 'bars']),
 (67, 0, ['Barrio Cafe', 'checkins', 'day', 'restaurant']),
 (79, 0, ['reviews', 'Adrienne']),
 (81, 0, ['businesses', '2010', 'Michelle']),
 (83, 0, ['reviews', 'Patrick', '4.0', 'rating']),
 (93, 0, ['Michelle', 'name', 'user']),
 (95, 0, ['reviews', '2014', 'Kabob Palace', 'year']),
 (96, 0, ['reviews', 'rating', '2014', 'year']),
 (99, 0, ['states', 'Whataburger']),
 (100, 0, ['MGM Grand Buffet', 'cities', 'restaurant']),
 (102, 0, ['reviews', 'neighborhood', 'South Summerlin', 'businesses']),
 (104, 0, ['pet groomers', 'tips', 'users']),
 (106, 0, ['Michelle', 'users']),
 (107, 0, ['1.5', 'cities', 'businesses']),
 (111, 0, ['cities', 'Taj Mahal']),
 (113, 0, ['businesses', 'restaurants']),
 (114, 0, ['businesses', 'users', 'restaurants']),
 (115, 0, ['Panda Express', 'cities']),
 (116, 0, ['Pennsylvania', 'Cafe Zinho', 'tips', '2010']),
 (117, 0, ['Michelle', 'tips']),
 (118, 0, ['Michelle', 'tips', '2010']),
 (119, 0, ['2010', 'businesses', 'users', 'restaurants']),
 (120, 0, ['neighborhood', 'Brighton Heights', 'checkins']),
 (121, 0, ['Sunday', 'checkins']),
 (124, 0, ['tips', 'month']),
 (126, 0, ['categories', 'business']),
 (127, 0, ['reviews', '1.0', 'business']),
 (13, 1, ['reviews', 'Niloofar']),
 (22, 1, ['reviews', 'user']),
 (23, 1, ['Pittsburgh', 'users', 'Sushi Too']),
 (26, 1, ['Pittsburgh', '4.5', 'restaurants']),
 (28, 1, ['2015', 'tips']),
 (34, 1, ['Texas', 'restaurants']),
 (40, 1, ['Texas', 'restaurants']),
 (63, 1, ['Patrick', 'bars', '3.0']),
 (71, 1, ['2015', 'Barrio Cafe', 'tips', 'users']),
 (77, 1, ['reviews', 'Michelle', 'businesses', 'user', 'month']),
 (92, 1, ['neighborhood', 'Flat Top Grill', 'restaurant']),
 (108, 1, ['Michelle', 'bussiness', 'neighborhoods']),
 (110, 1, ['Cafe Zinho', 'tips', 'Texas']),
 (3, 2, ['Madison', 'preschools']),
 (12, 2, ['Sunday', 'delis', 'checkins', 'state', 'Italian']),
 (41, 2, ['reviews', 'pet groomers', '100']),
 (49, 2, ['dance schools', 'Los Angeles']),
 (51, 2, ['2015', 'Bistro Di Napoli', 'people']),
 (57, 2, ['reviews', 'Acacia Cafe']),
 (78, 2, ['pet hospice', 'Pittsburgh']),
 (84, 2, ['Pittsburgh', 'bistros']),
 (86, 2, ['Apple store', 'Los Angeles']),
 (89, 2, ['rating', 'review', 'users', '3.0']),
 (91, 2, ['breweries', 'Los Angeles']),
 (112, 2, ['Pennsylvania', 'businesses', 'restaurants']),
 (33, 3, ['tips', 'April', 'Michelle']),
 (45, 3, ['gyms', 'Los Angeles']),
 (46, 3, ['dentists', 'Los Angeles']),
 (1, 4, ['texas', 'moroccan', 'restaurants']),
 (14, 4, ['review', 'businesses', 'Niloofar']),
 (19, 4, ['reviews', 'Michelle', 'Italian', 'restaurants']),
 (24, 4, ['pet groomers', 'Edinburgh']),
 (25, 4, ['pet groomers', 'Edinburgh']),
 (27, 4, ['Italian', '5.0', 'restaurants']),
 (48, 4, ['bars', 'Dallas']),
 (59, 4, ['addresses', 'Los Angeles', 'Walmart']),
 (60, 4, ['Patrick', 'Los Angeles', 'restaurants']),
 (82, 4, ['San Diego', 'businesses', '2010', 'Christine']),
 (128, 4, ['reviews', 'businesses', '2.0']),
 (66, 5, ['Egyptian', 'Edinburgh', 'restaurants']),
 (69, 6, ['Patrick', 'Dallas', 'user', 'restaurants']),
 (85, 6, ['bakeries', 'Los Angeles']),
 (98, 6, ['tips', 'businesses', 'users', 'Dallas']),
 (101, 6, ['MGM Grand Buffet', 'cities', 'Texas', 'restaurant']),
 (2, 7, ['Italian', 'Los Angeles', 'restaurants']),
 (9, 7, ['checkins', 'Los Angeles', 'Moroccan', 'restaurants']),
 (35, 8, ['businesses', 'Madison', 'neighborhood']),
 (122, 8, ['tips', '2012', 'user', 'review']),
 (10, 9, ['Friday', 'checkins', 'Los Angeles', 'Moroccan', 'restaurants']),
 (21, 9, ['reviews', 'Cafe Zinho', 'Texas', 'restaurants']),
 (73, 10, ['seafood', 'Los Angeles', 'restaurants']),
 (87, 11, ['Target', 'Los Angeles']),
 (88, 11, ['pubs', 'Irish', 'users', 'Dallas']),
 (70, 12, ['neighborhood', 'Stone Meadows', 'businesses', 'Madison']),
 (97, 12, ['2010', 'restaurant', 'Vintner Grill', 'people']),
 (36, 13, ['Madison', 'Italian', 'neighborhoods', 'restaurants']),
 (56, 14, ['Starbucks', 'Texas', 'Dallas']),
 (72, 15, ['rating', '2.0', 'businesses', 'Texas']),
 (53, 19, ['Hazelwood', 'Dallas', 'neighborhood', 'restaurants']),
 (90, 20, ['4.5', 'rating', 'Dallas', 'restaurants']),
 (61, 21, ['Meadowood', 'Italian', 'neighborhood', 'Madison', 'restaurants']),
 (37, 23, ['Madison', 'Italian', '2.5', 'neighborhoods', 'restaurants']),
 (7, 24, ['reviews', 'Thai', 'restaurant']),
 (76, 24, ['bars', '3.5', 'rating', 'Dallas']),
 (105, 26, ['reviews', 'bistros', '2.0', 'rating']),
 (94, 27, ['9', 'tips', 'Vintner Grill', 'likes']),
 (123, 28, ['reviews', 'March']),
 (58, 31, ['Dallas', 'valet service', 'Texas', 'restaurants']),
 (109, 32, ['reviews', 'April', 'business']),
 (50, 33, ['Dallas', 'restaurant', 'people', 'Texas de Brazil']),
 (11, 35, ['day', 'checkins', 'Los Angeles', 'Moroccan', 'restaurants']),
 (43, 39, ['4.0', 'Dallas', 'Chinese', 'restaurants']),
 (47, 42, ['dentists', '4.0', 'Los Angeles', 'rating']),
 (103, 48, ['Madison', 'games', 'escape']),
 (80, 52, ['reviews', 'March', '2014', 'Michelle']),
 (54, 57, ['reviews', 'Dallas', '50', 'hotels']),
 (52, 58, ['reviews', '100', 'Los Angeles', 'restaurants']),
 (75, 58, ['Dallas', 'rating', 'Italian', 'restaurant']),
 (38, 66, ['Madison', 'Italian', 'neighborhood', 'restaurant']),
 (125, 76, ['rating', 'Madison', 'neighborhoods', 'business', '5.0']),
 (64, 86, ['reviews', 'bars', '30', 'Los Angeles']),
 (68, 95, ['Dallas', 'rating', 'Indian', 'restaurant']),
 (44, 125, ['rating', '3.5', 'Dallas', 'Mexican', 'restaurants']),
 (74, 183, ['Dallas', 'reviews', 'Indian', 'restaurant']),
 (65, 971, ['rating', 'bars', 'Los Angeles', '30', 'reviews', '3.0'])]

In [7]:
z = x[0:37]

In [8]:
z

[(5, -1, ['4.5', 'businesses', 'stars']),
 (10, -1, ['Fridays', 'checkins', 'Los Angeles', 'Moroccan', 'restaurants']),
 (12, -1, ['Sundays', 'delis', 'checkins', 'state', 'Italian']),
 (16, -1, ['5', 'Niloofar', 'businesses']),
 (20, -1, ['Cafe Zinho', 'fridays', 'checkins']),
 (23, -1, ['Pittsburgh', 'users', 'Sushi Too']),
 (27, -1, ['star', 'Italian', '5', 'restaurants']),
 (38, -1, ['Madison', 'Italian', 'neighborhood', 'stars', 'restaurant']),
 (41, -1, ['reviews', 'pet groomers', '100']),
 (42, -1, ['pet groomers', 'reviews', '100']),
 (43, -1, ['4', 'Dallas', 'stars', 'Chinese', 'restaurants']),
 (47, -1, ['dentists', '4', 'Los Angeles', 'rating']),
 (50, -1, ['Dallas', 'restaurant', 'people', 'Texas de Brazil', 'Texas']),
 (52, -1, ['reviews', '100', 'Los Angeles', 'restaurants']),
 (53, -1, ['Hazelwood', 'Dallas', 'district', 'restaurants']),
 (54, -1, ['reviews', 'Dallas', '50', 'hotels']),
 (56, -1, ['Starbucks', 'Texas', 'Dallas']),
 (58, -1, ['Dallas', 'valet', 'Texas', 'service', 'restaurants']),
 (59, -1, ['addresses', 'Los Angeles', 'Walmarts']),
 (63, -1, ['Patrick', 'bars', '3', 'stars']),
 (65, -1, ['rating', 'bars', 'Los Angeles', '30', 'reviews', '3', 'stars']),
 (72, -1, ['rating', '2', 'businesses', 'Texas']),
 (75, -1, ['Dallas', 'rating', 'Italian', 'restaurant']),
 (78, -1, ['pet hospices', 'Pittsburgh']),
 (82, -1, ['San Diego', 'businesses', '2010', 'Christine']),
 (83, -1, ['reviews', 'Patrick', '4', 'rating']),
 (86, -1, ['Apple stores', 'Los Angeles']),
 (88, -1, ['pubs', 'Irish', 'users', 'Dallas']),
 (89, -1, ['rating', 'review', 'users', '3']),
 (93, -1, ['Michelle', 'ids', 'name', 'user']),
 (94, -1, ['9', 'tips', 'Vintner Grill', 'likes']),
 (102, -1, ['reviews', 'neighborhood', 'South Summerlin', 'businesses']),
 (105, -1, ['reviews', 'bistros', '1.5', 'rating']),
 (121, -1, ['Sundays', 'checkins']),
 (125, -1, ['rating', 'Madison', 'neighborhoods', 'business', '5']),
 (127, -1, ['reviews', '1', 'business']),
 (128, -1, ['reviews', 'businesses', '2.5'])]

In [250]:
k2d_new_ids

{13, 22, 26, 63, 71, 78, 79, 84, 92, 95, 108, 127}

In [261]:
a = k2d_yelp_gt[25]['segments']

In [51]:
a = a[:len(a)]

In [69]:
a[0] = '5.0'

In [154]:
a = ['5.0']

In [184]:
b = ['reviews', 'businesses', '2.0']

In [77]:
a = [a[-1]]

In [76]:
a = []

'Sushi Too'

[{REVIEW.v(rating{5.0})}, {BUSINESS.v(rating{5.0})}]

In [259]:
k2d_yelp_gt[13]['query']

'list all the businesses which have a review by Niloofar'

In [262]:
[x.total_score for x in data]

[0.5,
 0.5,
 0.4444444444444444,
 0.4444444444444444,
 0.42857142857142855,
 0.42105263157894735,
 0.4090909090909091,
 0.4090909090909091,
 0.00015361244827541485,
 0.00015361244827541485,
 0.0001365443984670354,
 0.0001365443984670354,
 0.00013166781280749844,
 0.00012935785117929673,
 0.00012568291222533944,
 0.00012568291222533944,
 8.777854187166563e-05,
 1.3483876722952573e-08]

In [30]:
[x.total_score for x in data]

[0.00020131584617607136,
 0.00020131584617607136,
 8.817380871121958e-05,
 8.817380871121958e-05,
 8.09060358805027e-06,
 1.7717913087356468e-06,
 1.0147532040940525e-06,
 2.2222457051053838e-07]

In [172]:
k2d_yelp_gt[127]['query_matches']

[{'table': 'review',
  'schema_filter': [{'attribute': 'text', 'keywords': ['reviews']}],
  'value_filter': [{'attribute': 'rating', 'keywords': ['2.5']}]},
 {'table': 'business',
  'schema_filter': [{'attribute': 'name', 'keywords': ['businesses']}],
  'value_filter': []}]

In [173]:
k2d_yelp_gt[127]['query']

'Find all reviews for businesses rated 2.5'

In [37]:
frame = pd.DataFrame(x, columns=['id', 'position', 'query'])

In [38]:
frame_compare = pd.DataFrame(y, columns=['id', 'position', 'query'])

In [41]:
frame_merged = frame.merge(frame_compare, on='id')

In [42]:
frame_merged.to_csv('yelp_result.output.v3.csv', sep='|')
#(frame.to_csv)

In [90]:
frame_merged.head(20)

,id,position_x,query_x,position_y,query_y
0,4,0,"[3.5, restaurants]",0,"[3.5, restaurants]"
1,5,0,"[4.5, businesses]",0,"[4.5, businesses]"
2,6,0,"[3.5, restaurants]",0,"[3.5, restaurants]"
3,8,0,"[cities, Taj Mahal, restaurant]",0,"[cities, Taj Mahal, restaurant]"
4,15,0,"[reviews, Niloofar, 2015]",0,"[reviews, Niloofar, 2015]"
5,16,0,"[5.0, Niloofar, businesses]",0,"[5.0, Niloofar, businesses]"
6,17,0,"[reviews, rating, Michelle]",0,"[reviews, rating, Michelle]"
7,18,0,"[checkins, business]",0,"[checkins, business]"
8,20,0,"[Cafe Zinho, friday, checkins]",0,"[Cafe Zinho, friday, checkins]"
9,29,0,"[tips, likes, Niloofar]",0,"[tips, likes, Niloofar]"
10,30,0,"[Cafe Zinho, tips, likes]",0,"[Cafe Zinho, tips, likes]"
11,31,0,"[Cafe Zinho, tips, likes, Niloofar]",0,"[Cafe Zinho, tips, likes, Niloofar]"
12,32,0,"[tips, 2014, Michelle]",0,"[tips, 2014, Michelle]"
13,39,0,"[rating, 3.5, businesses]",0,"[rating, 3.5, businesses]"
14,42,0,"[pet groomers, reviews, 100]",0,"[pet groomers, reviews, 100]"
15,55,0,"[Mesa Grill, users, restaurant]",0,"[Mesa Grill, users, restaurant]"
16,62,0,"[Patrick, bars]",0,"[Patrick, bars]"
17,67,0,"[Barrio Cafe, checkins, day, restaurant]",0,"[Barrio Cafe, checkins, day, restaurant]"
18,79,0,"[reviews, Adrienne]",1,"[reviews, Adrienne]"
19,81,0,"[businesses, 2010, Michelle]",0,"[businesses, 2010, Michelle]"

In [77]:
lst = [(x[1]['id'], x[1]['position_x'], x[1]['position_y']) for x in frame_merged.loc[frame_merged['position_x'] - frame_merged['position_y'] == -1][['id', 'position_x', 'position_y']].iterrows() ]

In [78]:
lst

[(79, 0, 1),
 (95, 0, 1),
 (127, 0, 1),
 (51, 2, 3),
 (48, 4, 5),
 (69, 6, 7),
 (98, 6, 7),
 (88, 11, 12),
 (97, 12, 13),
 (103, 48, 49)]

In [79]:
lst += [(x[1]['id'], x[1]['position_x'], x[1]['position_y']) for x in frame_merged.loc[frame_merged['position_x'] - frame_merged['position_y'] == 1][['id', 'position_x', 'position_y']].iterrows() ]

In [80]:
lst

[(79, 0, 1),
 (95, 0, 1),
 (127, 0, 1),
 (51, 2, 3),
 (48, 4, 5),
 (69, 6, 7),
 (98, 6, 7),
 (88, 11, 12),
 (97, 12, 13),
 (103, 48, 49),
 (23, 1, 0),
 (28, 1, 0),
 (77, 1, 0),
 (78, 2, 1),
 (84, 2, 1),
 (45, 3, 2),
 (19, 4, 3),
 (27, 4, 3),
 (128, 4, 3),
 (2, 7, 6),
 (9, 7, 6),
 (73, 10, 9),
 (11, 35, 34)]

In [83]:
result = []
for item in lst:
    mapper = Mapper()
    data = mapper.get_matches(k2d_yelp_gt[item[0]-1]['segments'])
    scores = [data[item[1]].total_score, data[item[2]].total_score]
    result += [(item[0], scores[0] == scores[1])]

[(0, 3), (3, 6), (6, 9), (9, 11)] [(1, 0, 19), (2, 0, 100), (2, 101, 171), (3, 0, 243), (3, 244, 487), (3, 488, 731), (3, 732, 969), (4, 0, 969), (4, 970, 1939), (4, 1940, 2909), (4, 2910, 3876)]
[(0, 3), (3, 6), (6, 9), (9, 11)] [(1, 0, 16), (2, 0, 100), (2, 101, 120), (3, 0, 140), (3, 141, 281), (3, 282, 422), (3, 423, 560), (4, 0, 455), (4, 456, 911), (4, 912, 1367), (4, 1368, 1820)]
len 6
percent: 0.1
percent: 0.3
percent: 0.5
percent: 0.6
percent: 0.8
percent: 1.0
[(0, 4), (4, 8), (8, 12), (12, 15)] [(1, 0, 20), (2, 0, 100), (2, 101, 190), (3, 0, 285), (3, 286, 571), (3, 572, 857), (3, 858, 1140), (4, 0, 1212), (4, 1213, 2425), (4, 2426, 3638), (4, 3639, 4845), (5, 0, 3876), (5, 3877, 7753), (5, 7754, 11630), (5, 11631, 15504)]
len 6
percent: 0.1
percent: 0.3
percent: 0.5
percent: 0.6
percent: 0.8
percent: 1.0
[(0, 3), (3, 6), (6, 9), (9, 10)] [(1, 0, 14), (2, 0, 91), (3, 0, 100), (3, 101, 201), (3, 202, 302), (3, 303, 364), (4, 0, 251), (4, 252, 503), (4, 504, 755), (4, 756, 1001)]
[(0, 4), (4, 8), (8, 12), (12, 15)] [(1, 0, 16), (2, 0, 100), (2, 101, 120), (3, 0, 140), (3, 141, 281), (3, 282, 422), (3, 423, 560), (4, 0, 455), (4, 456, 911), (4, 912, 1367), (4, 1368, 1820), (5, 0, 1092), (5, 1093, 2185), (5, 2186, 3278), (5, 3279, 4368)]

In [88]:
test = []

[(48, False),
 (69, False),
 (98, False),
 (88, False),
 (103, False),
 (23, False),
 (28, False),
 (78, False),
 (84, False),
 (45, False),
 (19, False),
 (27, False),
 (128, False),
 (2, False),
 (9, False),
 (73, False),
 (11, False)]

In [8]:
fault_k2d_ids = nalir_query_ids - k2d_query_ids

In [9]:
fault_new_k2d = k2d_new_ids - k2d_query_ids

In [15]:
queries_to_test = [(k2d_yelp_gt[x-1]['segments'], x) for x in fault_new_k2d]

In [16]:
queries_to_test

[(['reviews', 'Michelle', 'businesses', 'user', 'month'], 77),
 (['reviews', 'rating', 'Michelle'], 17),
 (['Cafe Zinho', 'fridays', 'checkins'], 20),
 (['reviews', 'user'], 22),
 (['Sundays', 'checkins'], 121)]

In [20]:
[x['query_id'] for x in k2d_new_data if x['query_candidate_item'] == -1]

37

In [88]:
k2d_query_ids - nalir_query_ids

{4, 6, 18, 28, 32, 39, 71, 107, 113, 114, 116, 118, 120, 126}

In [13]:
[x['query_id'] for x in k2d_yelp_gt if 'apple stores' in x['query'].lower() ]

[86]

In [15]:
nalir_fault_mapping = [(x, k2d_gt_data[x-1]['query_candidate_item'], k2d_new_data[x-1][''] ,k2d_yelp_gt[x-1]['segments']) for x in fault_k2d_ids]

NameError: name 'fault_k2d_ids' is not defined

In [28]:
nalir_fault_mapping

[(1, 9, 11, ['texas', 'moroccan', 'restaurants']),
 (2, 9, 10, ['Italian', 'Los Angeles', 'restaurants']),
 (3, 2, 2, ['Madison', 'preschools']),
 (9, 9, 10, ['checkins', 'Los Angeles', 'Moroccan', 'restaurants']),
 (11, 45, 50, ['day', 'checkins', 'Los Angeles', 'Moroccan', 'restaurants']),
 (21, -1, -1, ['reviews', 'Cafe Zinho', 'Texas', 'restaurants']),
 (34, 4, 5, ['Texas', 'restaurants']),
 (36, 22, 33, ['Madison', 'Italian', 'neighborhoods', 'restaurants']),
 (40, 4, 5, ['Texas', 'restaurants']),
 (45, 2, 6, ['gyms', 'Los Angeles']),
 (46, 4, 4, ['dentists', 'Los Angeles']),
 (48, 5, 5, ['bars', 'Dallas']),
 (53, -1, -1, ['Hazelwood', 'Dallas', 'district', 'restaurants']),
 (60, 6, 6, ['Patrick', 'Los Angeles', 'restaurants']),
 (66, 10, 14, ['Egyptian', 'Edinburgh', 'restaurants']),
 (69, 9, 11, ['Patrick', 'Dallas', 'user', 'restaurants']),
 (73, 12, 13, ['seafood', 'Los Angeles', 'restaurants']),
 (78, -1, 1, ['pet hospices', 'Pittsburgh']),
 (84, 1, 6, ['Pittsburgh', 'bistros']),
 (85, 7, 7, ['bakeries', 'Los Angeles']),
 (87, -1, -1, ['Target', 'Los Angeles']),
 (91, 2, 5, ['breweries', 'Los Angeles']),
 (110, -1, -1, ['Cafe Zinho', 'tips', 'Texas']),
 (123, 35, 35, ['reviews', 'March'])]

In [17]:
len([x for x in nalir_fault_mapping if x[1]  == -1 and x[2] != -1 ])

1

In [49]:
mapper = Mapper()
data = mapper.get_matches(k2d_yelp_gt[41]['segments'])

---------------------
---------------------
---------------------
------------------------------------------

---------------------------------------------------------------


---------------------
------------------------------------------

---------------------
---------------------
---------------------
------------------------------------------

------------------------------------------
---------------------

---------------------
---------------------
------------------------------------------

---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
------------------------------------------

---------------------
---------------------
---------------------
------------------------------------------
---------------------
---------------------

------------------------------------------

---------------------
---------------------------------------------------------------


---------------------
------------------------------------------

---------------------
---------------------
------------------------------------------

---------------------
---------------------
------------------------------------------

---------------------
------------------------------------------

---------------------
---------------------
------------------------------------------

---------------------
---------------------
------------------------------------------

---------------------
------------------------------------------

------------------------------------------

---------------------
---------------------
---------------------
---------------------
---------------------
------------------------------------------

---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
------------------------------------------

---------------------
---------------------
------------------------------------------
---------------------
---------------------

---------------------
---------------------
------------------------------------------

------------------------------------------
---------------------

---------------------
---------------------
------------------------------------------

---------------------
---------------------
---------------------
---------------------
---------------------
---------------------
---------------------

In [88]:
data[0:7]

[{CATEGORY.v(category_name{restaurants}), BUSINESS.v(name{5,star}), CATEGORY.v(category_name{italian})},
 {CATEGORY.v(category_name{restaurants}), BUSINESS.v(name{italian}), BUSINESS.v(name{5,star})},
 {BUSINESS.v(name{5,star},review_count{5}), CATEGORY.v(category_name{restaurants}), CATEGORY.v(category_name{italian})},
 {BUSINESS.v(name{5,star},review_count{5}), CATEGORY.v(category_name{restaurants}), BUSINESS.v(name{italian})},
 {CATEGORY.v(category_name{restaurants}), BUSINESS.v(name{5,star}), BUSINESS.v(name{italian},review_count{5})},
 {CATEGORY.v(category_name{restaurants}), BUSINESS.v(name{star},review_count{5}), CATEGORY.v(category_name{italian})},
 {CATEGORY.v(category_name{restaurants}), BUSINESS.v(name{star},review_count{5}), BUSINESS.v(name{italian})}]

In [52]:
k2d_yelp_gt[41]['query']

'Find all "pet groomers" which have more than 100 reviews'

In [53]:
[x.total_score for x in data[0:7]]

[0.0001269978017204433,
 0.00011288693486261625,
 8.46652011469622e-05,
 7.52579565750775e-05,
 7.484345700617755e-05,
 7.203604388527111e-05,
 7.129701149217869e-05]

In [5]:
data[0].total_score - data[6].total_score

4.6742099872341944e-05

In [223]:
[x.total_score for x in data[0:2]]

[1.1612836236431128e-11, 9.032205961668656e-12]

In [230]:
evaluation.evaluation_items[65].query_match

{BUSINESS.v(city{edinburgh}),
 CATEGORY.v(category_name{egyptian}),
 CATEGORY.v(category_name{restaurants})}

In [205]:
k2d_gt_data[122]['query_matches'][0]

[{'table': 'review',
  'schema_filter': [{'attribute': 'month', 'keywords': ['march']},
   {'attribute': 'text', 'keywords': ['reviews']}],
  'value_filter': []}]

In [58]:
k2d_yelp_gt[109]['query_matches']

[{'table': 'business',
  'schema_filter': [],
  'value_filter': [{'attribute': 'name', 'keywords': ['Cafe', 'Zinho']},
   {'attribute': 'state', 'keywords': ['Texas']}]},
 {'table': 'tip',
  'schema_filter': [{'attribute': 'text', 'keywords': ['tips']}],
  'value_filter': []}]

In [32]:
from evaluation import EvaluationHandler, EvaluationItem

evaluation = EvaluationHandler()
evaluation.load_query_file()

loading query file...

In [34]:
evaluation.evaluation_items[3].query_match

{BUSINESS.v(rating{3.5}), CATEGORY.v(category_name{restaurants})}

In [36]:
compare_item = EvaluationItem()
fix_data = evaluation._fix_matches(data)
for i,x in enumerate(data):
    compare_item.query_match = x
    
    if compare_item == evaluation.evaluation_items[3]:
        print(i)

0

In [110]:
compare_item = EvaluationItem()
compare_item.build_from_json({'segments': [], 'query_id': -1, 'query_matches': k2d_gt_data[109]['query_matches'][3]})
compare_item == evaluation.evaluation_items[109]

[('v', 'business', 'state', 'texas'), ('v', 'business', 'name', 'cafe'), ('v', 'business', 'name', 'zinho'), ('s', 'tip', 'text', 'tips')] [('v', 'business', 'name', 'cafe'), ('v', 'business', 'name', 'zinho'), ('s', 'tip', 'text', 'tips'), ('v', 'business', 'state', 'texas')]
equal

True

In [105]:
 k2d_gt_data[12]['query_matches']

[[{'table': 'business',
   'schema_filter': [{'attribute': 'review_count', 'keywords': ['reviews']}],
   'value_filter': []},
  {'table': 'user',
   'schema_filter': [],
   'value_filter': [{'attribute': 'name', 'keywords': ['niloofar']}]}],
 [{'table': 'review',
   'schema_filter': [{'attribute': 'text', 'keywords': ['reviews']}],
   'value_filter': []},
  {'table': 'user',
   'schema_filter': [],
   'value_filter': [{'attribute': 'name', 'keywords': ['niloofar']}]}],
 [{'table': 'review',
   'schema_filter': [{'attribute': 'rating', 'keywords': ['reviews']}],
   'value_filter': []},
  {'table': 'user',
   'schema_filter': [],
   'value_filter': [{'attribute': 'name', 'keywords': ['niloofar']}]}],
 [{'table': 'business',
   'schema_filter': [{'attribute': 'rating', 'keywords': ['reviews']}],
   'value_filter': []},
  {'table': 'user',
   'schema_filter': [],
   'value_filter': [{'attribute': 'name', 'keywords': ['niloofar']}]}],
 [{'table': 'checkin',
   'schema_filter': [{'attribute': 'count', 'keywords': ['reviews']}],
   'value_filter': []},
  {'table': 'user',
   'schema_filter': [],
   'value_filter': [{'attribute': 'name', 'keywords': ['niloofar']}]}],
 [{'table': 'review',
   'schema_filter': [{'attribute': 'text', 'keywords': ['reviews']}],
   'value_filter': []},
  {'table': 'user',
   'schema_filter': [],
   'value_filter': [{'attribute': 'name', 'keywords': ['niloofar']}]}],
 [{'table': 'tip',
   'schema_filter': [{'attribute': 'text', 'keywords': ['reviews']}],
   'value_filter': []},
  {'table': 'user',
   'schema_filter': [],
   'value_filter': [{'attribute': 'name', 'keywords': ['niloofar']}]}],
 [{'table': 'user',
   'schema_filter': [],
   'value_filter': [{'attribute': 'name', 'keywords': ['reviews']}]},
  {'table': 'user',
   'schema_filter': [],
   'value_filter': [{'attribute': 'name', 'keywords': ['niloofar']}]}]]

In [113]:
compare_item = EvaluationItem()
compare_item.build_from_json({'segments': [], 'query_id': -1, 'query_matches': k2d_gt_data[12]['query_matches'][1]})
compare_item.query_match

{REVIEW.s(text{reviews}), USER.v(name{niloofar})}

In [115]:
evaluation.evaluation_items[12] == compare_item

[('s', 'review', 'text', 'reviews'), ('v', 'user', 'name', 'niloofar')] [('s', 'review', 'text', 'reviews'), ('v', 'user', 'name', 'niloofar')]
equal

True

In [118]:
yelp_nalir_inputs = '../../data/nalir_inputs/yelp_nalir_inputs.v01.json'
yelp_data = []

In [125]:
with open(yelp_nalir_inputs, 'r') as f:
    yelp_data = [x['id'] for x in json.load(f) if x['equal_gt'] == False]

In [126]:
yelp_data

[1,
 15,
 23,
 25,
 28,
 32,
 33,
 47,
 49,
 50,
 51,
 53,
 56,
 57,
 66,
 70,
 76,
 79,
 80,
 81,
 82,
 87,
 88,
 97,
 103,
 108,
 125]

In [183]:
nalir_inputs = '../../data/nalir_inputs/yelp_nalir_inputs.results.final.json'

In [187]:
nalir_inpus_data = {}
data = []
with open(nalir_inputs, 'r') as f:
    for line in f:
        d = json.loads(line)
        if d['query_id'] in yelp_data:
            data += [(d['query_id'], d['query_candidate_item'])]
            if 'query_matches' in d:
                nalir_inpus_data[d['query_id']] = d['query_matches']
            else:
                print(d)

{'query_id': 50, 'query_candidate_item': -1}

In [188]:
data.sort(key=lambda x : x[0])
data

[(1, 9),
 (15, -1),
 (23, -1),
 (25, 0),
 (28, 10),
 (32, 14),
 (33, 26),
 (47, 9),
 (49, 0),
 (50, -1),
 (51, -1),
 (53, 12),
 (56, 2),
 (57, -1),
 (66, 6),
 (70, -1),
 (76, 29),
 (79, 14),
 (80, 112),
 (81, 12),
 (82, 17),
 (87, 0),
 (88, 3),
 (97, -1),
 (103, 0),
 (108, 3),
 (125, 5)]

In [136]:
k = [(x['query_id'], x['query_candidate_item']) for x in k2d_gt_data if x['query_id'] in yelp_data]

In [174]:
y = {data[i][0] : (data[i][1], k[i][1]) for i,_ in enumerate(k) if data[i][1] < k[i][1] and data[i][1] != -1}

In [175]:
y

{25: (0, 6), 49: (0, 2), 66: (6, 10), 80: (112, 140)}

In [180]:
k2d_gt_data[24]['query_matches'][0]
#

[{'table': 'business',
  'schema_filter': [],
  'value_filter': [{'attribute': 'name', 'keywords': ['groomers', 'pet']}]},
 {'table': 'neighborhood',
  'schema_filter': [{'attribute': 'neighborhood_name',
    'keywords': ['edinburgh']}],
  'value_filter': []}]

In [179]:
evaluation.evaluation_items[24].query_match

{BUSINESS.v(city{edinburgh}), CATEGORY.v(category_name{pet,groomers})}

In [168]:
def evaluation_qm(idx, idx_gt):
    qm = k2d_gt_data[idx]['query_matches'][idx_gt]
    compare_item = EvaluationItem()
    compare_item.build_from_json({'segments': [], 'query_id': -1, 'query_matches': qm})
    return evaluation.evaluation_items[idx] == compare_item

In [178]:
evaluation_qm(24, 0)

[('v', 'business', 'name', 'pet'), ('v', 'business', 'name', 'groomers'), ('s', 'neighborhood', 'neighborhood_name', 'edinburgh')] [('v', 'category', 'category_name', 'pet'), ('v', 'category', 'category_name', 'groomers'), ('v', 'business', 'city', 'edinburgh')]

False

In [189]:
def evaluation_qm_nalir(idx, idx_gt):
    qm = nalir_inpus_data[idx][idx_gt]
    compare_item = EvaluationItem()
    compare_item.build_from_json({'segments': [], 'query_id': -1, 'query_matches': qm})
    return evaluation.evaluation_items[idx].has_words_equal(compare_item)

In [191]:
nalir_inpus_data[25][0]

[{'table': 'business',
  'schema_filter': [],
  'value_filter': [{'attribute': 'name', 'keywords': ['many']}]},
 {'table': 'neighborhood',
  'schema_filter': [{'attribute': 'neighborhood_name',
    'keywords': ['edinburgh']}],
  'value_filter': []},
 {'table': 'business',
  'schema_filter': [],
  'value_filter': [{'attribute': 'name', 'keywords': ['groomers', 'pet']}]}]